<h1>landmarks/new</h1>

<form class="" action="/landmarks" method="post">
<input type="text" name="landmark[name]" value="" id="landmark_name">
<input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">
<input type="submit" name="" value="Create New Landmark">
</form>
